<div class="header">
  <ul class="nav nav-pills pull-right">
    <li><a ng-href="#">Home</a></li>
    <li><a ng-href="#/Rules">Rules</a></li>
    <li><a ng-href="#/Schedule">Schedule</a></li>
    <li class="active"><a ng-href="#/Contact">Contact</a></li>
  </ul>
  <h3><span class="text-muted">Enlympics2014</span><img src="images/enlympic_logo.png" alt="logo" /></h3>
</div>

<div class="jumbotron">
  <p class="lead">
    <img src="images/enlympic_rings.png" alt="enlympic_rings">
  </p>
  <h1>Contact the E.O.C.</h1>
</div>

<div class="row marketing">
  <h4>The Enlighten Olympic Committee is very interested in your feedback.</h4>
  <p>Please <a href="http://intranet.enlighten.com/contact.asp" target="_blank">contact Scot P, Amy B or Ellen M</a> with any questions, suggestions or complaints*.</p>
  <p><small>*Remember, complaints that qualify as whining will be penalized 1,000,000 points for your team.</small></p>
</div>

<div class="footer">
  <p>♥ from the Enlighten Olympic Committee</p>
</div>
