<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/Rules">Rules</a></li>
    <li><a ng-href="#/Schedule">Schedule</a></li>
    <li><a ng-href="#/Contact">Contact</a></li>
  </ul>
  <h3><span class="text-muted">Enlympics2014</span><img src="images/enlympic_logo.png" alt="logo" /></h3>
</div>

<div class="jumbotron">
  <p class="lead">
    <img src="images/enlympic_rings.png" alt="enlympic_rings">
  </p>
  <h1>2014 Winter Enlympics</h1>
</div>

<div class="row marketing">
  <h3>Standings</h3>
  <table class="standings">
    <thead>
      <tr>
        <th colspan="17">&nbsp;</th>
        <th colspan="6">Pentathalon</th>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <th>Total</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>4</th>
        <th>5</th>
        <th>6</th>
        <th>7</th>
        <th>8</th>
        <th>9</th>
        <th>10</th>
        <th>11</th>
        <th>12</th>
        <th>13</th>
        <th>TF</th>
        <th>PP</th>
        <th>P Total</th>
        <th>P1</th>
        <th>P2</th>
        <th>P3</th>
        <th>P4</th>
        <th>P5</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="cdata in csvData | orderBy:'cdata.total'" ng-class="{even: $even}">
        <td class="name"><span class="colorswatch" style="background: #{{cdata.color}}"></span><strong>{{cdata.name}}</strong></td>
        <td class="total"><strong>{{cdata.total}}</strong></td>
        <td ng-repeat="score in cdata.values track by $index" class="values">{{score}}</td>
      </tr>
    </tbody>
  </table>
  <div class="row">
    <table class="medals col-md-4">
      <tr>
        <th colspan="4"><h4>Medal Count</h4></th>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="images/gold_medal.png" alt="gold medal" /></td>
        <td><img src="images/silver_medal.png" alt="silver medal" /></td>
        <td><img src="images/bronze_medal.png" alt="bronze medal" /></td>
      </tr>
      <tr ng-repeat="cdata in csvData | orderBy:'cdata.total'" ng-class="{even: $even}">
        <td class="name"><span class="colorswatch" style="background: #{{cdata.color}}"></span><strong>{{cdata.name}}</strong></td>
        <td>{{medalCounts(cdata).gold}}</td>
        <td>{{medalCounts(cdata).silver}}</td>
        <td>{{medalCounts(cdata).bronze}}</td>
      </tr>
    </table>
    <div class="col-md-1">&nbsp;</div>
    <table class="scoring col-md-3">
      <tr>
        <th colspan="2"><h4>Event Scoring</h4></th>
      </tr>
      <tr>
        <td>1st</td><td>150</td>
      </tr>
      <tr>
        <td>2nd</td><td>125</td>
      </tr>
      <tr>
        <td>3rd</td><td>100</td>
      </tr>
      <tr>
        <td>4-6</td><td>50</td>
      </tr>
      <tr>
        <td>No show</td><td>0</td>
      </tr>
      <tr>
        <td>DQ</td><td>0</td>
      </tr>
    </table>
    <div class="col-md-1">&nbsp;</div>
    <table class="scoring col-md-3">
      <tr>
        <th colspan="2"><h4>Pent Scoring</h4></th>
      </tr>
      <tr>
        <td>1st</td><td>30</td>
      </tr>
      <tr>
        <td>2nd</td><td>25</td>
      </tr>
      <tr>
        <td>3rd</td><td>20</td>
      </tr>
      <tr>
        <td>4-6</td><td>10</td>
      </tr>
      <tr>
        <td>No show</td><td>0</td>
      </tr>
      <tr>
        <td>DQ</td><td>0</td>
      </tr>
    </table>
  </div>
</div>


<div class="footer">
  <p>♥ from the Enlighten Olympic Committee</p>
</div>
