<div class="header">
	<ul class="nav nav-pills pull-right">
		<li><a ng-href="#">Home</a></li>
		<li class="active"><a ng-href="#/Rules">Rules</a></li>
		<li><a ng-href="#/Schedule">Schedule</a></li>
		<li><a ng-href="#/Contact">Contact</a></li>
	</ul>
	<h3><span class="text-muted">Enlympics2014</span><img src="images/enlympic_logo.png" alt="logo" /></h3>
</div>

<div class="jumbotron">
	<p class="lead">
		<img src="images/enlympic_rings.png" alt="enlympic_rings">
	</p>
	<h1>2014 Winter Enlympics : Rules</h1>
</div>

<div class="row marketing">
	<h3>ENLympic Rules</h3>

	<p>We, the members of the Enlighten Olympic Committee (EOC), welcome and commend you for your participation in this year’s ENLympics, a celebration of excellence, perfection, ineptness and dumb luck, the principles that our company was not only founded upon, but continues to thrive upon this day. You, oh mighty athlete/warriors, have been chosen for your ability to inspire greatness, willingness to endure hardships, and cheerleader-like enthusiasm for humiliation of your fellow human beings. Your participation is the cornerstone upon which the success of these games rests. No pressure at all.</p>

	<p><strong>Once teams are announced, your responsibilities are straightforward:</strong></p>
	<ol>
		<li>Name your team. You may choose to infer a country directly or indirectly with that name, for example William Wallace’s Ugly Brothers or Lost in Amsterdam on a Tuesday. You may also choose your uniform, flag and anything else that will bring synergy, harmony, unity and inner awesomeness.</li>
		<li>Prepare physically and emotionally for the battles to come (know the schedule, rules, and who is doing what).</li>
		<li>Events take over the two weeks of 2/10-21, Primarily on Monday, Wednesday and Friday. Enter the participant’s name in the category that they are competing in BY NOON on the day of competition. If no name has been entered by your team, your team will not participate in that event.</li>
		<li>Contestants who do not show up at starting time and miss the rules briefing will not be allowed to compete in that event and your team will earn NO POINTS for that event.</li>
		<li>Make sure each team member competes in at least one event. If you fail to do this, your team will be docked 300 points (the equivalent of 2 gold medals-yep, that’s gonna suck).</li>
		<li>IT IS THE RESPONSIBILITY OF THE CONTESTANT TO MAKE SURE THAT THEIR POINTS ARE ACCURATELY RECORDED AFTER THE EVENT. Points not recorded by the end of the day in which the competition takes place are FOREVER FORFEIT.</li>
		<li>The use of performance-enhancing substances is greatly encouraged.</li>
		<li>It is highly encouraged for your team to choose their “anthem” which will be played during the medal ceremonies. Otherwise, we, the EOC, will choose for you. Humiliation with be our primary filter when making this decision.</li>
		<li>Keep your teammates motivated.</li>
		<li>Have fun.</li>
	</ol>

	<p><strong>The rules and decisions of the EOC are irrefutable, inarguable, and final. There are no appeals. Whiners lose 1,000,000 points.</strong></p>
	<p>Because as Teddy Roosevelt so aptly said, “It is not the critic who counts; not the man who points out how the strong man stumbles, or where the doer of deeds could have done them better. The credit belongs to the man who is actually in the arena, whose face is marred by dust and sweat and blood; who strives valiantly; who errs, who comes short again and again, because there is no effort without error and shortcoming; but who does actually strive to do the deeds; who knows great enthusiasms, the great devotions; who spends himself in a worthy cause; who at the best knows in the end the triumph of high achievement, and who at the worst, if he fails, at least fails while daring greatly, so that his place shall never be with those cold and timid souls who neither know victory nor defeat.</p>
	<p>It is our sincere hope that the ENLympics will triumph in the hearts and minds of all who participate as a time of mirth, mockery and minimal injuries.</p>
	<p>Therefore, dare greatly, my friends.</p>
	<p>Sincerest regards,</p>
	<p>EOC</p>

	<h3>Scoring</h3>
	<p>Each event will earn 150 points for Gold, 125 for Silver, 100 for Bronze. Remaining players/teams earn 50 points for participating unless disqualified. The only exception is the Pentathlon in which five events each accumulate points. To keep the overall total to a maximum 150 points, the individual pentathlon events each earn 30 for Gold, 25 for Silver, and 20 for Bronze, 10 for participation.</p>
	<p>In the event of a tie, a Rock, Paper, Scissors best of 5 match will determine the winner.</p>
	
	<h3>Prizes</h3>
	<h4>Winners of each event will receive Gold, Silver and Bronze Medals. All points earned by team members go toward their team’s grand total.</h4>
	<p><strong>GOLD:</strong></p>
	<p>Dinner for the entire team at the Main Street Ventures restaurant of their choice in downtown Ann Arbor.</p>
	<p><strong>SILVER:</strong></p>
	<p>Dinner for the entire team at Applebees, T.G.I.F. or similar restaurant.</p>
	<p><strong>BRONZE:</strong></p>
	<p>Lunch for the entire team at the local chain of their choice.</p>

	<h3>Events &amp; Rules</h3>
	<p><strong>(listed alphabetically)</strong></p>
	<h4>Chopstick Challenge: 1 player, timed event 1 minute</h4>
	<p>Players have 1 minute to place as many mini marshmallows into a cup from the table top using only chopsticks.</p>
	<h4>Flight Path: 1 player, timed event 3 minutes</h4>
	<p>Each player folds paper airplanes and flies them toward targets. Each target has a specific point total.</p>
	<h4>Foosball: two player teams: one game to 11 points</h4>
	<p>Six teams will randomly be labeled A, B, C, D, and E. Teams A and B will have a Quarterfinal bye. Quarterfinals are two match C vs F, and D vs E. on Tuesday 2/11. Winners advance to the semifinal round. Team A will play the winner of the C/F quarterfinal. Team B will play against the D/E winner on Wednesday 2/12. Loser of the semifinal matches play in the Bronze medal game, while the winners play in the Gold medal game on Thursday 2/13.</p>
	<h4>Nice Build: 1 player, timed speed event</h4>
	<p>Build a three story mini-monument using 15 reams of paper. In each level, four reams of paper must be on narrow ends. Monument must stand for 3 seconds to qualify.</p>
	<h4>Office Chair Race: 2 player, speed</h4>
	<p>Teams will randomly be paired to race head to head in heat 1, 2 or 3. The race begins and ends at the start/finish line in the engineering hallway and consists of one lap around the middle perimeter hallways. In the reception area, teammates switch places and finish the lap. First team to cross the finish line after completing the laps wins their heat and advances to the medal round and race again.</p>
	<h4>Paper Clip Chain: 1 player, timed event 1 minute</h4>
	<p>Players make a chain with paper clips. Longest chain wins.</p>
	<h4>Pentathlon</h4>
	<h5><strong>Beer Pong</strong></h5>
	<p>10 Cups are set up on the Ping Pong table. Players have 10 Ping-Pong balls to bounce into the cups. Balls MUST bounce at least once on the table to qualify.</p>
	<h5><strong>Bowling</strong></h5>
	<p>Contestants will roll a ball 3 times towards 10 bottles knocking over as many as possible. The “pins” will be reset after each ball. The sum of all 3 rolls will determine the winners.</p>
	<h5><strong>Golf</strong></h5>
	<p>Players are given 10 golf balls in attempts to score hole in ones. Distance from the hole determines points scored. Player is at liberty to shoot from any distance. The greater the distance, the greater the points earned.</p>
	<h5><strong>Shooting</strong></h5>
	<p>Players are given a Nerf gun and 10 darts to shoot at targets. Points are scored for each target hit. Highest points win gold, silver, then bronze.</p>
	<h5><strong>Waste Basketball: timed event 1 minute</strong></h5>
	<p>Players are given a stack of paper that they must wad into balls and shoot at waste baskets.</p>
	<h4>Ping-Pong Tourney, 1 player, single elimination, Best of Three, Games to 11 points</h4>
	<p>Six teams will randomly be labeled A, B, C, D, and E. Teams A and B will have a Quarterfinal bye. Quarterfinals are two match C vs F, and D vs E. on Monday 2/17. Winners advance to the semifinal round. Team A will play the winner of the C/F quarterfinal and Team B will play against the D/E winner on Tuesday 2/18. Losers of the semifinal matches play in the Bronze medal game while the winners play in the Gold medal game Wednesday 2/19.</p>
	<h4>Post-it Stickler: 3 players, timed event 1 minute</h4>
	<p>Two team members stick as many Post-its to a third team member in one minute.</p>
	<h4>Rapid Fire: 1 player, timed 1 minute</h4>
	<p>Five pyramid style stacks of three plastic cups are place two feet from the end of the Ping-Pong table. Player must shoot rubber bands to knock the cups completely off the table. 10 points per cup knocked completely off the table.</p>
	<h4>Speed Eraser: 1 player, timed event 1 minute</h4>
	<p>Player must bounce pencils onto their eraser and then into a glass.</p>
	<h4>Staple Pull: 1 player, speed challenge</h4>
	<p>Each contestant will be given a sheet of paper with 25 staples. The winner will be the fastest person to remove all 25 staples.</p>
	<h4>Stupid Trivia: 1 player, timed event 5 minutes</h4>
	<p>Players take a Stupid Trivia Test, answering as many questions as possible in 5 minutes. In the event of a tie, least time used will determine winners.</p>
	<h4>Tissue Box Challenge: 1 player, speed challenge</h4>
	<p>Head to head competition. One player from each team removes all the tissues from a box with one hand. First player to empty the box wins.</p>
	<h4>Toilet Paper Unroll: 2 players, speed challenge</h4>
	<p>One teammate holds a roll of toilet paper. This player may not move. The other teammate holds one end of the toilet paper then spins in a circle until the whole roll is wrapped around them.</p>
	<h4>Yank Me: 1 player, Speed challenge</h4>
	<p>Players stack five cups and 4 index cards into a tower then remove the cards from top to bottom, until the cups are assembled in one stack on the table. If the tower topples, you must start from the beginning.</p>
</div>

<div class="footer">
	<p>♥ from the Enlighten Olympic Committee</p>
</div>
