<div class="header">
	<ul class="nav nav-pills pull-right">
		<li><a ng-href="#">Home</a></li>
		<li><a ng-href="#/Rules">Rules</a></li>
		<li class="active"><a ng-href="#/Schedule">Schedule</a></li>
		<li><a ng-href="#/Contact">Contact</a></li>
	</ul>
	<h3><span class="text-muted">Enlympics2014</span><img src="images/enlympic_logo.png" alt="logo" /></h3>
</div>

<div class="jumbotron">
	<p class="lead">
		<img src="images/enlympic_rings.png" alt="enlympic_rings">
	</p>
	<h1>2014 Winter Enlympics</h1>
</div>

<div class="row marketing schedule">
	<h3>Schedule</h3>
	<p><strong>Subject to change</strong></p>
		<div class="col-md-6">
			<h4>MONDAY FEBRUARY 10</h4>
			<ul>
				<li><span class="time">Noon</span><span>Opening ceremonies</span></li>
				<li><span class="empty">&nbsp;</span><span>Pizza Lunch in the Play Room</span></li>
				<li><span class="empty">&nbsp;</span><span>Introduction of Teams</span></li>
				<li><span class="empty">&nbsp;</span><span>Explanation of Rules</span></li>
				<li><span class="empty">&nbsp;</span><span>Schedule of Events posted</span></li>
				<li><span class="empty">&nbsp;</span><span>Toilet Paper Unroll</span></li>

				<li><span class="time">4:00</span><span>Paper Clip Chain</span></li>
				<li><span class="empty">&nbsp;</span><span>Flight Path</span></li>
			</ul>
			<h4>TUESDAY FEBRUARY 11</h4>
			<ul>
				<li><span class="time">Noon</span><span>Ping Pong Quarterfinals C vs F</span></li>
				<li><span class="empty">&nbsp;</span><span>Ping Pong Quarterfinals D vs E</span></li>
			</ul>
			<h4>WEDNESDAY FEBRUARY 12</h4>
			<ul>
				<li><span class="time">Noon</span><span>Ping Pong Semifinal 1 A vs winner C/F</span></li>
				<li><span class="empty">&nbsp;</span><span>Ping Pong Semifinal 2 B vs winner D/E</span></li>
				<li><span class="time">4:00</span><span>Speed Eraser</span></li>
				<li><span class="empty">&nbsp;</span><span>Tissue Box Challenge</span></li>
				<li><span class="empty">&nbsp;</span><span>Pentathlon: Beer Pong</span></li>
			</ul>
			<h4>THURSDAY FEBRUARY 13</h4>
			<ul>
				<li><span class="time">Noon</span><span>Ping Pong Bronze Medal Game<br />&nbsp;-Losers Semifinal 1 vs 2</span></li>
				<li><span class="empty">&nbsp;</span><span>Ping Pong Gold Medal Game<br />&nbsp;-Winners Semifinal 1 vs 2</span></li>
			</ul>
			<h4>FRIDAY FEBRUARY 14</h4>
			<ul>
				<li><span class="time">4:00</span><span>Staple Pull</span></li>
				<li><span class="empty">&nbsp;</span><span>Rapid Fire</span></li>
				<li><span class="empty">&nbsp;</span><span>Pentathlon: Golf (Engineering Hallway)</span></li>
			</ul>
		</div>
		<div class="col-md-6">
			<h4>MONDAY FEBRUARY 17</h4>
			<ul>
				<li><span class="time">Noon</span><span>Stupid Trivia (Little Red)</span></li>
				<li><span class="empty">&nbsp;</span><span>Foosball Quarterfinals C vs F</span></li>
				<li><span class="empty">&nbsp;</span><span>Foosball Quarterfinals D vs E</span></li>
			</ul>
			<h4>TUESDAY FEBRUARY 18</h4>
			<ul>
				<li><span class="time">Noon</span><span>Foosball Semifinal 1: A vs winner C/F</span></li>
				<li><span class="empty">&nbsp;</span><span>Foosball Semifinal 2: B vs winner D/E</span></li>
				<li><span class="time">4:00</span><span>Office Chair Race (Engineering Hallway)</span></li>
				<li><span class="empty">&nbsp;</span><span>Pentathlon: Shooting</span></li>
			</ul>
			<h4>WEDNESDAY FEBRUARY 19</h4>
			<ul>
				<li><span class="time">Noon</span><span>Foosball Bronze Medal Game<br />&nbsp;-Losers Semifinal 1 vs 2</span></li>
				<li><span class="empty">&nbsp;</span><span>Foosball Gold Medal Game<br />&nbsp;-Winners Semifinal 1 vs 2</span></li>
				<li><span class="time">4:00</span><span>Chopstick Challenge</span></li>
				<li><span class="empty">&nbsp;</span><span>Nice Build</span></li>
				<li><span class="empty">&nbsp;</span><span>Pentathlon: Bowling (Engineering hallway)</span></li>
			</ul>
			<h4>THURSDAY FEBRUARY 20</h4>
			<ul>
				<li><span class="empty">&nbsp;</span><span>Day for make-up events or take it easy and no nothing</span></li>
			</ul>
			<h4>FRIDAY FEBRUARY 21</h4>
			<ul>
				<li><span class="time">Noon</span><span>Pentathlon: Waste Basketball</span></li>
				<li><span class="empty">&nbsp;</span><span>Post-it Stickler</span></li>
				<li><span class="empty">&nbsp;</span><span>Yank Me</span></li>
				<li><span class="time">4:00</span><span>Closing Ceremony</span></li>
				<li><span class="empty">&nbsp;</span><span>Drinks/snacks in the Playroom</span></li>
				<li><span class="empty">&nbsp;</span><span>Announcement of Gold, Silver, and Bronze team winners</span></li>
			</ul>
		</div>
</div>

<div class="footer">
	<p>♥ from the Enlighten Olympic Committee</p>
</div>
